<!doctype html>
<html lang="en"xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PLAYERS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <style>
        .buttons{
            display: inline-flex;
            justify-items: center;
            flex-direction: column;

        }
    </style>
</head>
<body>
<div class="container">
    <!-- Header başlık kısmı burada olacak-->
    <div class="row text-center ">
        <h1 class="title-center">
            <label th:text="${model.title}"></label>
        </h1>
    </div>
    <!--Header END-->
    <!--Body alanımız-->
    <div class="row">
        <!--Main table alanımız-->
        <div class="col-md-5">
            <table class="table table-hover table-border">
                <thead class="table-warning">
                <tr>
                    <th>FormaNo</th>
                    <th>Ad</th>
                    <th>Soyad</th>
                    <th></th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="player : ${model.playerDtoList}" th:attr="onclick=|select(${player.jerseyNo})|">
                    <td th:text="${player.jerseyNo}"></td>
                    <td th:text="${player.name}"></td>
                    <td th:text="${player.surname}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--Main table END-->

        <!--Groups tables alanımız-->
        <div class="col-md-7">
            <!--Groups 1 Tüm alanımız-->
            <div class="row item-center">
                <!--Groups 1 butonlar-->
                <div class="col-md-2 align-self-center">
                    <div class="row">
                        <button type="button" class="btn btn-success mb-2" onclick="addOne()"
                                th:text="${model.btnekle}" ></button>
                        <button type="button" class="btn btn-danger" onclick="deleteOne()"
                                th:text="${model.btnsil}"></button>
                    </div>
                </div>
                <!--Groups 1 butonlar END-->
                <!--Groups 1 tablo-->
                <div class="col-md-8">
                    <table class="table table-hover table-border">
                        <thead class="table-info">
                        <tr>
                            <th>FormaNo</th>
                            <th>Ad</th>
                            <th>Soyad</th>
                            <th></th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="group : ${model.group1DtoList}" th:attr="onclick=|select2(${group.jerseyNo})|">
                            <td th:text="${group.jerseyNo}"></td>
                            <td th:text="${group.name}"></td>
                            <td th:text="${group.surname}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--Groups 1 tablo END-->
            </div>
            <!--Groups 1 Tüm END-->
            <!--Groups 2 Tüm alanımız-->
            <div class="row item-center mt-5">
                <!--Groups 2 butonlar-->
                <div class="col-md-2 align-self-center">
                    <div class="row">
                        <button type="button" class="btn btn-success mb-2" onclick="addTwo()"
                                th:text="${model.btnekle}"></button>
                        <button type="button" class="btn btn-danger" onclick="deleteTwo()"
                                th:text="${model.btnsil}"></button>
                    </div>
                </div>
                <!--Groups 2 butonlar END-->
                <!--Groups 2 tablo-->
                <div class="col-md-8">
                    <table class="table table-hover table-border">
                        <thead class="table-info">
                        <tr>
                            <th>FormaNo</th>
                            <th>Ad</th>
                            <th>Soyad</th>
                            <th></th>

                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="group : ${model.group2DtoList}" th:attr="onclick=|select3(${group.jerseyNo})|">
                            <td th:text="${group.jerseyNo}"></td>
                            <td th:text="${group.name}"></td>
                            <td th:text="${group.surname}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--Groups 2 tablo END-->
            </div>
            <!--Groups 2 Tüm END-->
        </div>
        <!--Groups tables END-->
    </div>
    <!--Body END-->
</div>

<div hidden="">
    <form action="addone" method="post">
        <input type="text" name="jerseyNo" id="jerseyNo">
        <button type="submit" id="addbutton1"></button>
    </form>
    <form action="addtwo" method="post">
        <input type="text" name="jerseyNo" id="jerseyNo1">
        <button type="submit" id="addbutton2"></button>
    </form>
    <form action="delone" method="post">
        <input type="text" name="jerseyNo" id="jerseyNo2">
        <button type="submit" id="delbutton1"></button>
    </form>
    <form action="deltwo" method="post">
        <input type="text" name="jerseyNo" id="jerseyNo3">
        <button type="submit" id="delbutton2"></button>
    </form>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>


    function select(jerseyNo){
        document.getElementById("jerseyNo1").value =document.getElementById("jerseyNo").value = jerseyNo;

    }
    function select2(jerseyNo){
        let y = document.getElementById("jerseyNo2").value = jerseyNo;

    }
    function select3(jerseyNo){
        let z = document.getElementById("jerseyNo3").value = jerseyNo;

    }

    function addOne() {
        const addbutton1 = document.getElementById('addbutton1')
        addbutton1.click();
    }
    function addTwo() {
        const addbutton2 = document.getElementById('addbutton2')
        addbutton2.click();
    }
    function deleteOne() {
        const delbutton1 = document.getElementById('delbutton1')
        delbutton1.click();
    }
    function deleteTwo() {
        const delbutton2 = document.getElementById('delbutton2')
        delbutton2.click();
    }
</script>
</body>
</html>